.schedules{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid var(--grey-bb);
    width: 450px;
    min-height: 100px;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: var(--normal-font);
}

