.schedules{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid var(--grey-bb);
    border-radius: 20px;
    width: 450px;
    min-height: 100px;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: var(--normal-font);
}

.listCont{
    margin-left: 5px;
}

.titleCont{
    display: flex;
    width: 450px;
    min-height: 100px;
    height: fit-content;
    padding-top: 5px;
    font-family: var(--normal-font);
}

h2.listTitle{
    margin-right: 260px;
    margin-top: 5px;
    margin-left: 5px;
}

.tinyicons{
    height: 24px;
    width: 20px;
    margin: 3px;
    margin-top: 5px;
    position: relative;
}