.genericButton{
    background-color: var(--grey-bb);
    padding: 7px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--normal-font);
    font-size: var(--normal-fsize);
    border: none;
}