.genericButton{
    min-width: 100px;
    min-height: 10px;
    padding: 7px 10px;
    margin-inline: 8px;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--normal-font);
}

.genericButton:hover{
    border: 3px solid black;
}

.completeButton{
    background-image: linear-gradient(to right, rgb(74, 163, 74), rgb(10, 255, 10));
    margin-left: 0;
}

.deleteButton{
    background-image: linear-gradient(to right, rgb(216, 12, 5), rgb(255, 47, 10));
}

.prioritizeButton{
    background-image: linear-gradient(to right, rgb(14, 123, 173), rgb(73, 196, 245));
}

.snoozeButton{
    background-image: linear-gradient(to right, rgb(204, 192, 27), rgb(239, 255, 10));
}

